.button {
  min-width: 3rem;
  padding: 0.5rem 1rem;
  border: 0;
  background-color: var(--color-primary);
  border-radius: 4px;
  color: var(--color-text-contrast);
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--color-primary-darker);
}

.button-lg {
  padding: 1rem 1.5rem;
}
