.container {
  position: relative;
  display: flex;
  width: 100%;

  /* A hardcoded NavBar height, can be exported as variable, but better to be fixed in a different way */
  height: calc(100vh - 3.4rem);
  flex-direction: column;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: var(--color-secondary-darker);
}

.search-input {
  max-width: 40rem;
}

.search-button {
  position: absolute;
  right: 1rem;
  bottom: calc(100% + 0.8rem);
}

.search-navigator {
  display: flex;
  align-items: center;
}

.search-navigator p {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -0.5rem;
}

.error-container > * {
  margin: 0 0.5rem;
}

[dir="rtl"] .search-button {
  right: auto;
  left: 1rem;
}
