:global .theme-dark {
  /* colors */
  --color-primary: #42a5f5;
  --color-primary-darker: #0d47a1;
  --color-text: #fff;
  --color-text-muted: #adadad;
  --color-text-contrast: #fff;
  --color-text-link: #42a5f5;
  --color-text-link-visited: #ba68c8;
  --color-text-link-active: #e57373;
  --color-border: #fff;
  --color-background: #000;
  --color-danger: #b71c1c;
}
