/* This a default theme, so no extra css selectors are needed */

/* Colors: https://www.materialui.co/colors */

/* This vars will be taken by postcss-custom-properties to create fallback css properties */
:root {
  /* colors */
  --color-primary-lighter: #ffe0b2; /* 100 */
  --color-primary: #ff9800; /* 500 */
  --color-primary-darker: #d84315; /* 800 */
  --color-text: #000;
  --color-text-muted: #808080;
  --color-text-contrast: #fff;
  --color-text-link: #00e;
  --color-text-link-visited: #551a8b;
  --color-text-link-active: #f00;
  --color-border: #000;
  --color-background: #fff;
  --color-danger: #b71c1c;

  /* fonts */
  --font-family-primary: helvetica neue, helvetica, arial, sans-serif;
  --font-family-secondary: georgia, times new roman, times, serif;
  --font-size-base: 16px;
  --letter-spacing-base: 0;
  --line-height-base: 1.3;

  /* sizes */
  --border-width-regular: 0.1rem;
  --border-radius: 4px;

  /* z-indexes */
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 10;
  --z-index-3: 100;
  --z-index-4: 1000;
  --z-index-5: 10000;
}
