@import "./vendor.css";
@import "./themes/default.css";
@import "./themes/dark.css";

html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

@media screen and (--viewport-sm-max) {
  html {
    font-size: 14px;
  }
}

:global [class^="theme"] {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--color-background);
}

:global [class^="theme"] > main {
  /* pages should have a minimum height of 100% to have an ability to vertically center the content */

  align-self: stretch;
}
