@import "./vendor.css";
@import "./themes/default.css";
@import "./themes/dark.css";

html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

@media screen and (--viewport-sm-max) {
  html {
    font-size: 14px;
  }
}

:global [class^="theme"] {
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--color-background);
}
