.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.4rem 0.8rem;

  --triangle-size: 14px;
}

.bubble-container {
  display: flex;
  width: 100%;
}

.inbox .bubble-container {
  flex-direction: row;
}

.outbox .bubble-container {
  flex-direction: row-reverse;
}

.username {
  padding: 0.2rem var(--triangle-size);
}

.outbox .username {
  align-self: flex-end;
}

.bubble {
  max-width: 60%;
  background-color: var(--color-primary-lighter);
  word-break: break-word;
}

.bubble-content {
  padding: 0.8rem 1.6rem;
}

.triangle {
  border-top: var(--triangle-size) solid var(--color-primary-lighter);
}

[dir="ltr"] .inbox .bubble,
[dir="rtl"] .outbox .bubble {
  border-radius: 0 var(--border-radius) var(--border-radius)
    var(--border-radius);
}

[dir="ltr"] .outbox .bubble,
[dir="rtl"] .inbox .bubble {
  border-radius: var(--border-radius) 0 var(--border-radius)
    var(--border-radius);
}

[dir="ltr"] .inbox .triangle,
[dir="rtl"] .outbox .triangle {
  border-left: 10px solid transparent;
  border-top-left-radius: 2px;
}

[dir="ltr"] .outbox .triangle,
[dir="rtl"] .inbox .triangle {
  border-right: 10px solid transparent;
  border-top-right-radius: 2px;
}

.date {
  align-self: flex-end;
  margin-right: 1rem;
  margin-left: 1rem;
}

.image {
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: 50% 0;
}

.youtube-container {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25% /* 16:9 */;
}

.youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
